body {
    background: linear-gradient(135deg, #5EDFFF, #1E71FF);
    font-family: "Helvetica Neue", sans-serif;
  }
  
  .calculator {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
  }
  

  
  .calculator input[type="text"] {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 25px;
    text-align: right;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  .calculator button {
    width: 70px;
    height: 50px;
    font-size: 24px;
    margin: 5px;
    border: 2px solid #ccc;
    background: linear-gradient(180deg, #eee, #ccc);
    color: #333;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  .calculator button:hover {
    background: linear-gradient(180deg, #ddd, #bbb);
    color: #222;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  }
  
  .calculator button:active {
    transform: translateY(1px);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  }
  
  /*Addtional features*/
  /*This will chnage the thems of the calculator */
  .theme-light {
    background-color: #f0f0f0;
  }
  
  .theme-dark {
    background-color: #333;
    color: #fff;
  }
  
  .theme-blue {
    background-color: #007bff;
    color: #fff;
  }
  
  
  /* This is for the time counter  */
  .input-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #time {
    position: absolute;
    top: -70px;
    left: -12px;
    font-size: 16px;
    color: #333;
    padding: 2px 5px;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    cursor: default;
    user-select: none;
  }
  #ken {
    position: absolute;
    top: -79px;
    left: 270px;
    font-size: 16px;
    color: #333;
    padding: 2px 5px;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    cursor: default;
    user-select: none;
  }
 
  /*Make the page more resposive*/
  @media screen and (max-width: 480px) {
    .calculator button {
     
      height: 40px;
      font-size: 20px;
      margin: 4px;
    }
  }
  
  
  
  
  